<p id="notice"><%= notice %></p>

<h1>Watch Artists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watch_artists.each do |watch_artist| %>
      <tr>
        <td><%= watch_artist.user_id %></td>
        <td><%= watch_artist.artist_id %></td>
        <td><%= link_to 'Show', watch_artist %></td>
        <td><%= link_to 'Edit', edit_watch_artist_path(watch_artist) %></td>
        <td><%= link_to 'Destroy', watch_artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watch Artist', new_watch_artist_path %>
