<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @watch_artist.user_id %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @watch_artist.artist_id %>
</p>

<%= link_to 'Edit', edit_watch_artist_path(@watch_artist) %> |
<%= link_to 'Back', watch_artists_path %>
