<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist_name %>
    <%= form.text_field :artist_name %>
  </div>

  <div class="field">
    <%= form.label :artist_image %>
    <%= form.text_field :artist_image %>
  </div>

  <div class="field">
    <%= form.label :deleted_at %>
    <%= form.datetime_select :deleted_at %>
  </div>

  <div class="field">
    <%= form.label :mb_id %>
    <%= form.text_field :mb_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
