<p id="notice"><%= notice %></p>

<p>
  <strong>Artist name:</strong>
  <%= @artist.artist_name %>
</p>

<p>
  <strong>Artist image:</strong>
  <%= @artist.artist_image %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @artist.deleted_at %>
</p>

<p>
  <strong>Mb:</strong>
  <%= @artist.mb_id %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
