<div class="container">
  <div class="row">
    <div class="col-lg-10 text-center">
      <h2 class="jp_text">アカウントをお持ちですか？ :)</h2>
    </div>
  </div>
</div>

<%= form_for(resource, url: session_path(resource_name)) do |f| %>
<div class="container sessionsNewContainer">
  <div class="row sessionsNewRow">
    <%= f.label :email, class: "signInLabel col-lg-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inline-block input-lg" %>
  </div>

  <div class="row sessionsNewRow">
      <%= f.label :password, class: "signInLabel col-lg-3" %>
      <%= f.password_field :password, autocomplete: "current-password" , class: "inline-block input-lg" %>
  </div>

  <% if devise_mapping.rememberable? %>
      <div class="row sessionsNewRowRow">
            <%= f.check_box :remember_me, style: 'width: 20px;' %>
            <%= f.label :remember_me, style: 'line-height: 14px;' %>
      </div>
  <% end %>

    <div class="row sessionsNewRow">
          <%= f.submit "Log in", class: "btn" %>
    </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-lg-10 text-center actions">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>


<style>
  .inline-block {
    display: inline-block;
  }
</style>