<p id="notice"><%= notice %></p>

<p>
  <strong>Concert name:</strong>
  <%= @concert.concert_name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @concert.source %>
</p>

<p>
  <strong>Image:</strong>
  <%= @concert.image %>
</p>

<p>
  <strong>Tm:</strong>
  <%= @concert.tm_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @concert.date %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @concert.timezone %>
</p>

<p>
  <strong>Local date:</strong>
  <%= @concert.local_date %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @concert.venue_id %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @concert.origin %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @concert.deleted_at %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
