<div class="container">
  <div class="row">
    <div class="col-lg-10 text-center">
      <h1>HELLO NEW MUSIC LOVER :)</h1>
    </div>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row field">
    <%= f.label :email, class: "inline-block col-lg-3 text-right" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inline-block col-lg-3 input-lg" %>
    <div class="col-lg-3">
    </div>
  </div>
</div>

<div class="container">
  <div class="row field">
    <div class="inline-block col-lg-3 text-right">
      <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "inline-block col-lg-3 input-lg" %>
    <div class="col-lg-3">
    </div>
  </div>
</div>

 <div class="container">
  <div class="row field">
    <%= f.label :password_confirmation, class: "inline-block col-lg-3 text-right" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inline-block col-lg-3 input-lg" %>
    <div class="col-lg-3">
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3 text-center actions">
          <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-10 text-center">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>


<style>
  .inline-block {
    display: inline-block;
  }
</style>